*{
    font-family: 'Open Sans', sans-serif; 
    align-self: center;
    text-align: center;
    transition: all 200ms;
    outline: none;
    margin: 0px;
    transition-timing-function: ease-in-out;
}

.link-button{
    transform: translateY(-3px);
    transform: scale(1.05);
    background:none;
    color:inherit;
    border:none; 
    padding:0;
    font: inherit;
    border-bottom:1px white; 
    text-decoration: underline; 
    cursor: pointer;
    box-shadow: none;
    border: unset;
    border-radius: 0px;
    margin: 20px;
}

button{
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 15px;
    box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.75);
    margin: 10px;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.75);
}
button:active{
    transform: translateY(-3px);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.link-button:hover{
    box-shadow: none;
    transform: scale(1.1);
}

.link-button:active{
    box-shadow: none;
    transform: translateY(-3px);
}
/* title
font-family: 'Space Mono', monospace; */

h3{
    text-align: center
}

.text-field{
    margin: 20px;
}

input[type="text"], input[type="password"]{
    border-radius: 30px;
    padding:5px 10px;
    display: inline-block
}
input[type="text"]:hover,  input[type="password"]:hover{
    transform: scale(1.03);
}

.logoImage{
    height: 200px;
    width: 200px;
    margin: 20px;
}

.centeredColumn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


.safe-area{
    padding: 20px;
}

.fade-enter {
    animation-delay: 200ms;
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    animation-delay: 200ms;
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

